:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;
	--borderColor:#c1c1c1;
	--mainText:black;
	--secondaryText:#4b5156;
}

html, body{
	padding: 0;
	margin: 0;
	text-align: justify;
  	text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6, strong{
	color:  var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
	text-align: center;


}

p, li, span, label, input, textarea{
	color:  var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
	position: relative;
    font-size: 14px;
    margin: 0 auto;

}

p1{
	color:  var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
	position: relative;
    bottom: 2em;
}

p2{
	color:  var(--mainText);
	font-family: 'Russo One', sans-serif;
	position: relative;
	font-size: 14px;
    bottom: 0em;
}




a{
	text-decoration: none;
	color: #17a2b8;
}


ul{
	list-style: none;
}

p1 { font-size: 24px;}
h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	border-right:1px solid var(--borderColor);
	border-left:1px solid var(--borderColor);
	overflow: auto;
	overflow-x: hidden;
	width: 1200px;
	margin: 0 auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	border-right:1px solid var(--borderColor);
	border-left:1px solid var(--borderColor);
	overflow: auto;
	overflow-x: hidden;
	width: 1200px;
	margin: 0 auto;
}

.s3{
	background-color: darkgrey;
	border-bottom:1px solid var(--borderColor);
	border-right:1px solid var(--borderColor);
	border-left:1px solid var(--borderColor);
	overflow: auto;
	overflow-x: hidden;
	width: 1200px;
	margin: 0 auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}


.greeting-wrapper{
	display:  grid;
	text-align:  center;
	align-content: center;
	min-height:  15em;
	width: center;
	margin: 0 auto;
}


.intro-wrapper{
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;

	/* use css shadow generator in google search */
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display:  grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em 15em;
	grid-template-areas:  
			'nav-wrapper nav-wrapper'
			'left-column right-column'
	;
	/*border: 2px dashed lightcoral;*/
	height: 400px;

}


.nav-wrapper{
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
	border-radius: 5px 5px 0 0;


}


#navigation{
	margin: 10px;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	
}

.dots-wrapper{
	display: flex;
	border-bottom: 1px solid var(--borderColor);
	padding: 10px;
}

.social:hover {
	background-color: lightgoldenrodyellow;
    border: 3px solid var(--borderColor);
}


.browser-dot{
	background-color: var(--secondaryColor);
	border: 2px solid var(--borderColor);
	height: 20px;
	width: 140px;
	border-radius:  5%;
	margin:  3px;
	text-align: center;
}

.browser-dot:hover {
	background-color: lightgoldenrodyellow;
    border: 3px solid var(--borderColor);
}

.browser-dot2{
	background-color: var(--secondaryColor);
	border: 2px solid var(--borderColor);
	height: 20px;
	display: inline-block;
	border-radius:  2%;
	margin:  1px;
	

}



.left-column{
	grid-area: left-column;
	margin-left: 40px;
	margin-right: 40px;
	
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-top: 10px;
	padding-bottom: 40px;
	/* border: 2px dashed lightcoral; */
}


.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#skills{
	display: flex;
	justify-content: space-evenly;
	padding-left: 0px;

}


.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 25px;
	justify-content: center;
	margin-bottom: 5%;

}

.thumbnail{
	display: block;
	width: 100%;
	height: 180px;
	object-fit: fill;
}

.post{
	border: 1px solid var(--borderColor);
	/* use css shadow generator in google search */
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.post-preview{
	background-color: #fff;
	padding: 5px;
	text-align: left;
}

.post-title{
	color: black;
	margin: 0;
	text-decoration: underline;
	font-size: 18px;
}

.post-skills{
	margin: 5px;
	text-align: left;

}

.post-intro{
	color: #4b5156;
	font-size: 14px;
	margin: 5px;
}

/* fix to display containers properly for when screen/browser size is smaller */
@media screen and (max-width: 800px){
	.main-container{
		width: 60%;
}


/* fix to display containers properly for when screen/browser size is smaller */
@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-rows: 3em 15em;
		grid-template-areas:  
				'nav-wrapper'
				'left-column'
				'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}



}